uvicorn==0.21.1
fastapi==0.95.0
typing_extensions==4.5.0
pydantic==1.10.6
BingImageCreator==0.4.4
EdgeGPT==0.10.16
nonebot-adapter-onebot==2.2.2
nonebot-adapter-qq==1.4.4
nonebot2==2.2.1
pondpond==1.2.1
redis==4.5.2
revChatGPT==4.0.5
tencentcloud-sdk-python==3.0.857
sqlalchemy==2.0.13
pymysql==1.1.0
revWenXin
DouBaoChat
PyExecJs==1.5.1
cryptography
nonebot_plugin_guild_patch
